@model logindemo.Models.PoliceStation

<div>
    <dl class="row">
        <dt class="col-sm-4">Police Station Code:</dt>
        <dd class="col-sm-8">@Model.StationCode</dd>

        <dt class="col-sm-4">Police Station Name:</dt>
        <dd class="col-sm-8">@Model.StationName</dd>

        <dt class="col-sm-4">Region:</dt>
        <dd class="col-sm-8">@Model.Region</dd>

        <dt class="col-sm-4">Location:</dt>
        <dd class="col-sm-8">@Model.Location</dd>

        <dt class="col-sm-4">Contact Number:</dt>
        <dd class="col-sm-8">@Model.ContactNumber</dd>

        <dt class="col-sm-4">Email:</dt>
        <dd class="col-sm-8">@Model.Email</dd>

        <dt class="col-sm-4">IP Address:</dt>
        <dd class="col-sm-8">@Model.IPAddress</dd>

        <dt class="col-sm-4">Incharge:</dt>
        <dd class="col-sm-8">@Model.Incharge</dd>
    </dl>
</div>
